* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
}

body {
    font-family: poppins-regular;
    
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../font/poppins/poppins-bold-webfont.woff');


}

@font-face {
    font-family: 'poppins-medium';
    src: url('../font/poppins/poppins-medium-webfont.woff');


}

@font-face {
    font-family: 'poppins-light';
    src: url('../font/poppins/poppins-light-webfont.woff');


}

@font-face {
    font-family: 'poppins-regular';
    src: url('../font/poppins/poppins-regular-webfont.woff');


}

@font-face {
    font-family: 'poppins-semi';
    src: url('../font/poppins/poppins-semibold-webfont.woff');


}

.container {
    max-width: 80%;
    margin: 0 auto;


}

.header-top {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 54px 650px 187px;
    justify-content: space-between;
    align-items: center;
}

.header-top-img {
    border-radius: 4px;

}

.header-top-menu {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    list-style-type: none;

}

.header-top-menu-link {

    text-decoration: none;
    color: #7D7C7C;
    font-size: 16px;
    font-family: poppins-medium;
    font-weight: 500px;

}

.header-top-menu-link-1 {
    text-decoration: none;
    color: #C90000;
    font-size: 16px;
    font-weight: 600px;
    font-family: poppins-semi;

}

.header-top-right {
    display: flex;
    column-gap: 10px;


}

.header-top-right-link {
    text-decoration: none;
    border: 1px solid #C90000;
    padding: 8px 16px;
    border-radius: 100px;
    color: #C90000;
    font-size: 16px;
    font-weight: 400px;

}

.header-top-right-link-1 {
    text-decoration: none;
    border: 1px solid #C90000;
    padding: 8px 16px;
    border-radius: 100px;
    color: white;
    background-color: #C90000;
    font-size: 16px;
    font-weight: 400px;

}

.header-bottom {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.header-bottom-left {
    align-self: center;


}

.header-bottom-left h2 {
    font-family: poppins-semi;
    font-weight: 600;
    font-size: 48px;
    color: #C90000;
    text-shadow: 0 4px 4px #00000040;
    line-height: 65px;
    max-width: 70%;
}

.header-bottom-left p {
    font-weight: 400;
    font-size: 16px;
    color: #504F4F;
    line-height: 27px;
    text-shadow: 0 4px 4px #00000040;
    max-width: 72%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.header-bottom-left-price span:first-child {
    font-family: poppins-light;
    font-weight: 300;
    font-size: 24px;
    color: #323232;
}

.header-bottom-left-price span:last-child {
    font-family: poppins-medium;
    font-weight: 500;
    font-size: 24px;
    color: #323232;

}

.header-bottom-left-but {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 40px;
    margin-top: 30px;

}

.header-bottom-left-but-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #F1F1F1B2;
    box-shadow: 0 10px 17px #7090B033;
    border-radius: 100px;
    padding: 8px 16px;




}

.header-bottom-left-but-left button {
    border: none;
    background-color: transparent;
    flex-shrink: 1;
    min-width: 0;

}

.header-bottom-left-but-left span {
    font-family: poppins-medium;
    font-weight: 500;
    font-size: 20px;
    color: #FFC300;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 1;
    min-width: 0;


}

.header-bottom-left-but-left span::before {
    content: "";
    display: block;
    width: 1px;
    height: 22px;
    background-color: #F1F1F1;



}

.header-bottom-left-but-left span::after {
    content: "";
    display: block;
    width: 1px;
    height: 22px;
    background-color: #F1F1F1;



}

.header-bottom-left-but-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    background-color: #FFC300;
    box-shadow: 0 20px 20px #7090B033;
    padding: 16px 24px;


}

.header-bottom-left-but-right span {
    font-family: poppins-medium;
    font-weight: 500;
    font-size: 20px;
    color: #323232;
}

.header-bottom-right {
    position: relative;
}

.header-bottom-right img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.header-bottom-right-time {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    border: 1px solid #F1F1F1;
    background-color: #F1F1F166;
    border-radius: 50px 50px 0 50px;
    position: absolute;
    left: -100px;
    top: 65px;
    padding: 12px;
}

.header-bottom-right-time div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.header-bottom-right-time div span {
    font-weight: 400;
    font-size: 24px;
    color: #323232;
    line-height: 36px;
}

.header-bottom-right-time>span {
    font-weight: 400;
    font-size: 16px;
    color: #7D7C7C;
}

.main-menu {
    font-family: poppins-semi;
    font-size: 48px;
    font-weight: 600;
    color: #C90000;
    text-transform: uppercase;
    position: relative;
}

.main-menu::after {
    content: "";
    display: block;
    width: 137px;
    height: 9px;
    background-color: #FFF6A3;
    position: absolute;
    top: 35px;
    z-index: -1;
}

.main-cat {
    display: grid;
    grid-auto-columns: 175px;
    grid-auto-flow: column;
    overflow: auto;
    column-gap: 15px;
    margin-top: 32px;
}

.main-cat a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border: 1px solid #E3E3E3;
    background-color: #F1F1F1;
    padding: 8px 20px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 16px;
    color: #504F4F;
}

.main-cat> :first-child {
    background-color: #FFC300;
    border: 1px solid #FFD429;
    font-family: poppins-medium;
    font-size: 16px;
    font-weight: 500;
    color: #323232;
}

.main-parent {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
}

.main-parent-item {

    border: 1px solid #E3E3E3;
    padding: 16px;
    border-radius: 12px;
}

.main-parent-item-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.star {
    width: 43.2px;
    height: 43.2px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-parent-item-img img {
    max-width: 227px;

}

.main-parent-item-img::after {
    content: "";
    display: block;
    width: 100%;
    min-height: 105px;
    border-radius: 8px;
    background-color: #FFFDE6;
    position: absolute;
    z-index: -1;
    bottom: -7px;
}

.main-parent-item-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-parent-item-title h2 {
    font-family: poppins-semi;
    font-weight: 600;
    font-size: 20px;
    color: #323232;
    line-height: 35px;

}

.main-parent-item-title p {
    font-weight: 400;
    font-size: 14px;
    color: #504F4F;
}

.main-parent-item-rate span {
    font-family: poppins-medium;
    font-size: 14px;
    font-weight: 500;
    color: #7D7C7C;

}

.main-parent-item-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.main-parent-item-price span {
    font-family: poppins-semi;
    font-size: 24px;
    font-weight: 600;
    color: #323232;
}

.main-parent-item-price button {
    border: none;
    border-radius: 8px;
    background-color: #C90000;
    padding: 10px;
}

.main-more {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.main-more a {
    font-family: poppins-medium;
    font-size: 20px;
    font-weight: 500;
    color: #504F4F;
}

.sale-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.sale-title h2 {
    font-family: poppins-semi;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    color: #C90000;
    position: relative;
    max-width: 95%;
}

.sale-title h2::after {
    content: "";
    width: 100%;
    height: 9px;
    background-color: #FFF6A3;
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 10px;
}

.sale-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    margin-top: 35px;
}

.sale-parent-item {

    border: 1px solid #E3E3E3;
    border-radius: 20px;
    background-color: #F1F1F1;
    padding: 30px 0 30px 20px;
    display: flex;
    flex-direction: column;
    transition: 300ms;

}

.sale-parent-item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;

}

.sale-parent-item-grid img {

    max-width: 200px;
    width: 100%;
    height: auto;
    justify-self: end;
    align-self: center;
}

.sale-parent-item>span {
    font-weight: 400;
    color: #323232;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 300ms;

}

.sale-parent-item>span::after {
    content: "";
    width: 77%;
    height: 0.25px;
    background-color: #7d7c7c78;
    display: inline-block;
}

.sale-parent-item-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.sale-parent-item-box h2 {
    font-family: poppins-semi;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #C90000;
    line-height: 30px;
    margin-bottom: 10px;
    transition: 300ms;
}

.sale-parent-item-box p {
    font-weight: 400;
    line-height: 24px;
    color: #504F4F;
    transition: 300ms;
    margin-bottom: 10px;
}

.sale-parent-item-box-price {
    margin-bottom: 40px;
}

.sale-parent-item-box-price>:first-child {
    text-decoration: line-through;
    font-family: poppins-semi;
    font-weight: 600;
    color: #7D7C7C;
    transition: 300ms;

}

.sale-parent-item-box-price>:last-child {
    font-family: poppins-semi;
    font-weight: 600;
    font-size: 24px;
    color: #C90000;
    transition: 300ms;

}

.sale-parent-item-box button {
    border-radius: 20px;
    padding: 8px 12px;
    background-color: #504F4F;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: none;
    transition: 300ms;
}

.sale-parent-item-box button span {
    color: #F1F1F1;
    font-family: poppins-medium;
    font-weight: 500;
    height: 20px;
    line-height: 23px;
    display: inline-block;

}

.sale-parent-item:hover {
    background-color: #D62822;
    transform: scale(1.1);
}

.sale-parent-item:hover>span {
    color: #FFEAE6;
}

.sale-parent-item:hover .sale-parent-item-box h2 {
    color: #FFC300;
}

.sale-parent-item:hover .sale-parent-item-box p {
    color: #FFEAE6;
}

.sale-parent-item:hover .sale-parent-item-box button {
    background-color: #FFFDE6;
}

.sale-parent-item:hover .sale-parent-item-box button span {
    color: #323232;
}

.sale-parent-item:hover .sale-parent-item-box button path {
    fill: #323232;

}

.sale-parent-item:hover .sale-parent-item-box-price>:first-child {
    color: #F1F1F1;
}

.sale-parent-item:hover .sale-parent-item-box-price>:last-child {
    color: #FFC300;
}

.main-bottom-left {
    justify-self: end;
}

.main-bottom-left img {
    max-width: 401px;
    width: 100%;


    transform: scale(1.1);
    height: 100%;
    position: relative;
    bottom: 7px;
}

.main-bottom-right-but img {
    width: 183px;
}

.main-bottom-right-but>:first-child {
    margin-right: 15px;
}

.main-bottom {
    background-color: #F1F1F1;
    border: 1px solid #E3E3E3;
    border-radius: 0 500px 500px 0;
    margin-top: 94px;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.main-bottom-right {
    margin: 40px 60px 40px 0;
}

.main-bottom-right h6 {
    font-family: poppins-medium;
    font-weight: 500;
    font-size: 20px;
    color: #7D7C7C;
    margin-bottom: 20px;
}

.main-bottom-right h2 {
    font-family: poppins-medium;
    font-weight: 500;
    font-size: 48px;
    color: #C90000;
    margin-bottom: 25px;
}

.main-bottom-right p {
    font-weight: 400;
    line-height: 24px;
    color: #323232;
    margin-bottom: 30px;
    max-width: 699px;
    width: 100%;
}

.footer-top-first img {
    max-width: 212px;
    width: 100%;
    height: auto;
}

.footer-top-bottom img {
    max-width: 227px;
    width: 100%;
    height: auto;
}

.footer-top {
    margin-top: 72px;
    border-radius: 20px;
    background-color: #323232;
    padding-top: 50px;
}

.footer-top-first {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 10px;
}

.footer-top-first div {
    align-self: center;
    margin-right: 15px;
}

.footer-top-first div h2 {
    font-family: poppins-medium;
    font-weight: 500;
    font-size: 48px;
    color: #FFFDE6;
    margin-bottom: 20px;
    line-height: 60px;
}

.footer-top-first div h6 {
    font-size: 16px;
    font-weight: 400;
    color: #F1F1F1;
    text-align: center;
    width: 75%;
}

.footer-top-center {
    background-color: #FFC300;
    width: 40%;
    margin: auto;
    padding: 10px;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 40px;
}

.footer-top-center input {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #504F4F;
}

.footer-top-center button {
    width: 100%;
    border-radius: 100px;
    background-color: #FFEAE6;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.footer-top-bottom {
    padding-left: 100px;
}



.footer-bottom {
    background-color: #FFFDE6;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 318px;
    align-items: center;
}

.footer-bottom-left {
    justify-self: end;
}

.footer-bottom-left>:first-child {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

.footer-bottom-left>:first-child h2 {
    align-self: center;
    font-family: poppins-semi;
    font-weight: 600;
    font-size: 32px;
    color: #323232;
    white-space: nowrap;
}

.footer-bottom-left>:first-child img {
    justify-self: flex-end;
    max-width: 70px;
    width: 100%;
    height: auto;
}

.footer-bottom-left>:last-child {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}
.footer-bottem-center{
    justify-self: center;
}

.footer-bottem-center h3,
.footer-bottem-right h3 {
    font-family: poppins-medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #323232;
}

.footer-bottem-center h4,
.footer-bottem-right h4 {
    font-family: poppins-light;
    font-weight: 300;
    font-size: 16px;
    line-height: 36px;
    color: #323232;
}